
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";


body {
  background: #FFF;
  min-height: 100%;
}
*{
  font-family: 'Roboto', sans-serif;

}
.row.no-gap, .row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}